<a href="https://colab.research.google.com/github/Ajees2453/PythonLab/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=input('enter first number:')
num2=input('enter second number')
sum=float(num1)+float (num2)
print('the sum of {0} and {1} is {2}'.format(num1,num2,sum))

enter first number:2.5
enter second number7.3
the sum of 2.5 and 7.3 is 9.8

In [ ]:
num=9
num_sqrt=num**0.5
print('the square root of %0.3f is %0.3f'%(num,num_sqrt))

the square root of 9.000 is 3.000

In [ ]:
import cmath
num=1+2j
num_sqrt=cmath.sqrt(num)
print('the sequence root of {0} is {1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

the sequence root of (1+2j) is 1.272+0.786j

In [ ]:
a=5
b=6
c=7
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print('the area of the triangle is %0.2f'%area)

the area of the triangle is 14.70

In [ ]:
x=5
y=10
temp=x
x=y
y=temp
print('the value of x after swapping:{}'.format(x))
print('the value of y after swapping:{}'.format(y))

the value of x after swapping:10
the value of y after swapping:5

In [19]:

website="apple.com"
print(website)
website="programiz.com"
print(website)

apple.com
programiz.com

In [20]:
a,b,c=5,3.2,"hello"
print(a)
print(b)
print(c)

5
3.2
hello

In [21]:
x=y=z="same"
print(x)
print(y)
print(z)

same
same
same

In [27]:
x=(1==True)
y=(1==False)
a=True+4
b=False+10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10