<a href="https://colab.research.google.com/github/Ajees2453/PythonLab/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=input('enter first number:')
num2=input('enter second number')
sum=float(num1)+float (num2)
print('the sum of {0} and {1} is {2}'.format(num1,num2,sum))

enter first number:2.5
enter second number7.3
the sum of 2.5 and 7.3 is 9.8

In [ ]:
num=9
num_sqrt=num**0.5
print('the square root of %0.3f is %0.3f'%(num,num_sqrt))

the square root of 9.000 is 3.000

In [ ]:
import cmath
num=1+2j
num_sqrt=cmath.sqrt(num)
print('the sequence root of {0} is {1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

the sequence root of (1+2j) is 1.272+0.786j

In [ ]:
a=5
b=6
c=7
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print('the area of the triangle is %0.2f'%area)

the area of the triangle is 14.70

In [ ]:
x=5
y=10
temp=x
x=y
y=temp
print('the value of x after swapping:{}'.format(x))
print('the value of y after swapping:{}'.format(y))

the value of x after swapping:10
the value of y after swapping:5

In [ ]:
a,b,c=5,3.2,"hello"
print(a)
print(b)
print(c)

5
3.2
hello

In [ ]:
x=y=z="same"
print(x)
print(y)
print(z)

same
same
same

In [ ]:
x=(1==True)
y=(1==False)
a=True+4
b=False+10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

In [ ]:
test_dict ={i:i*i for i in range(10)}
test_set={i*2 for i in range(10)}
print(test_set)
print(test_dict)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(3, 6, -5))

6

In [ ]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 0, 7)))

20

In [ ]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((8, 2, 3, -1, 7)))

-336

In [ ]:
def string_reverse(str1):
    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('1234abcd'))

dcba4321

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 8
40320

In [ ]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

In [ ]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])
string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [ ]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x
print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

False

In [ ]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

In [ ]:
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

True

In [ ]:
def isPalindrome(string):
	left_pos = 0
	right_pos = len(string) - 1
	
	while right_pos >= left_pos:
		if not string[left_pos] == string[right_pos]:
			return False
		left_pos += 1
		right_pos -= 1
	return True
print(isPalindrome('aza'))

True

In [ ]:
def pascal_triangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

In [ ]:
import string, sys
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())
 
print ( ispangram('The quick brown fox jumps over the lazy dog'))

True

In [ ]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

green-red-black-white
black-green-red-white

In [ ]:
def printValues():
	l = list()
	for i in range(1,21):
		l.append(i**2)
	print(l)
		
printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
def make_bold(fn):
    def wrapped():
        return "<b>" + fn() + "</b>"
    return wrapped
def make_italic(fn):
    def wrapped():
        return "<i>" + fn() + "</i>"
    return wrapped
def make_underline(fn):
    def wrapped():
        return "<u>" + fn() + "</u>"
    return wrapped
@make_bold
@make_italic
@make_underline
def hello():
    return "hello world"
print(hello())

<b><i><u>hello world</u></i></b>

In [ ]:
mycode = 'print("hello world")'
code = """
def mutiply(x,y):
    return x*y
print('Multiply of 2 and 3 is: ',mutiply(2,3))
"""
exec(mycode)
exec(code)

hello world
Multiply of 2 and 3 is:  6

In [ ]:
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(4))

9

In [ ]:
def abc():
    x = 1
    y = 2
    str1= "w3resource"
    print("Python Exercises")

print(abc.__code__.co_nlocals)

3

In [ ]:
from time import sleep
import math
def delay(fn, ms, *args):
  sleep(ms / 1000)
  return fn(*args)
print("Square root after specific miliseconds:") 
print(delay(lambda x: math.sqrt(x), 100, 16))
print(delay(lambda x: math.sqrt(x), 1000, 100))
print(delay(lambda x: math.sqrt(x), 2000, 25100))

Square root after specific miliseconds:
4.0
10.0
158.42979517754858

In [1]:
print ("choice 1:add, 2:sub, 3:div, 4:mul, 5:quit")
n1=input("enter the choice ofoperation:")
n=int(n1)
if(n==1):
  print("you have chosen addition option:")
  a1=input("enter the value for a:")
  b1=input("enter the value for b:")
  a=int(a1)
  b=int(b1)
  c=a+b
  print("the result",a,"+",b,"=",c)
elif(n==2):
  print("you have chosen subraction option:")
  a1=input("enter the value for a:")
  b1=input("enter the value for b:")
  a=int(a1)
  b=int(b1)
  c=a-b
  print("the result",a,"-",b,"=",c)
elif(n==3):
  print("you have chosen division option:")
  a1=input("enter the value for a:")
  b1=input("enter the value for b:")
  a=int(a1)
  b=int(b1)
  c=a/b
  print("the result",a,"/",b,"=",c)
elif(n==4):
  print("you have chosen multiplication option:")
  a1=input("enter the value for a:")
  b1=input("enter the value for b:")
  a=int(a1)
  b=int(b1)
  c=a*b
  print("the result",a,"*",b,"=",c)
elif(n==5):
  print("you have given a wrong:",n)
  exit()

choice 1:add, 2:sub, 3:div, 4:mul, 5:quit
enter the choice ofoperation:4
you have chosen multiplication option:
enter the value for a:5
enter the value for b:6
the result 5 * 6 = 30